markers.iconImage {
  width: 10px;
}
body {
  background: #fffbfc;
  color: #0A3200;
  margin-top: 1vh;
  font-family: 'Montserrat', sans-serif;    text-align: center;
}

#map {
  height: 60vh;
  margin-top: 10vh;
  width: 70%;
  float: right;
  border-radius: 15px;
}

img {
  margin-left: 20px;
  height: 180px;
}

li {
  text-align: left;
}

.heading {
  text-decoration: none;
  color: #0A3200;
  font-family: 'Montserrat', sans-serif;
}
.heading > a:hover {
  text-decoration: none;
  color: #0A3200;
}

.logo  {
  height: 15vh;
  float: left;
}

header {
  background: #fffbfc;
  height: 220px;
  grid-column: 1/4;
  grid-row: 1/2;
  text-align: center;
  margin-bottom: 2vh;
  border-radius: 15px;
}

h1 {
  padding-top: 80px;
}
.sidebar {
  color: #0A3200;
  position: sticky;
  width: 25%;
  top: 270px;
  bottom: 0;
  padding: 2%;
  background: #fffbfc;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
}

.sidebar p {
  font-size: 20px;
}

.sidebar .title {
  font-size: 25px;
}

a {
  text-decoration: none;
  color: #0A3200;
}
a:hover {
  color: #0A3200;
}
