markers.iconImage {
  width: 10px;
}
body {
    background: #449B51;
    text-align: center;
    color: #0A3200;
}

#map {
  height: 500px;
  width: 70%;
  float: right;
  border: 5px solid #0B3C49;
  
}

.heading {
  text-decoration: none;
  color: #0A3200;
}
.heading > a:hover {
  text-decoration: none;
  color: #0A3200;
}

.logo  {
  height: 15vh;
  float: left;
}

header {
  background: white;
  height: 20vh;
  margin-bottom: 5px;
}

.sidebar {
  color: #0A3200;
  border: 5px solid #0B3C49;
  position: sticky;
  width: 30%;
  top: 270px;
  bottom: 0;

}
