markers.iconImage {
  width: 10px;
}

#map {
  height: 500px;
  width: 80%;
  float: right;
}

.heading {
  text-decoration: none;
  color: #0A3200;
}
.heading > a:hover {
  text-decoration: none;
  color: #0A3200;
}

.logo  {
  height: 15vh;
  float: left;
}
 body {
   text-align: center;
   color: #0A3200;
 }
header {
  background: tan;
  height: 20vh;
  margin-bottom: 5px;
}
p {
  float: left;
  display: none;
}
