body {
  background-color: #62bbc1;
  color: #0A3200;
  margin-top: 1vh;
}

a {
  text-decoration: none;
  color: #0A3200;
}
a:hover {
  text-decoration: none;
  color: #0A3200;
}

.gridHeader {
  margin-bottom: 1vh;
  display: grid;
  grid-column-gap: 2%;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  width: 100vw;
}

.header {
  background: #fffbfc;
  padding-bottom: 5vh;
  grid-column: 1/4;
  grid-row: 1/2;
  text-align: center;
  margin-bottom: 2vh;
  padding-top: 5vh;
}

.grid {
  margin: 0 10vw 1vh 10vw;
  display: grid;
  grid-column-gap: 2%;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  border-radius: 5px;
}

.gridBox {

  border: 2px solid white;
  border-radius: 10%;
  background-color: #fffbfc;
  height: 25vh;
  width: 25vh;
}

.footer {
  background: #fffbfc;
  padding: 2em;
  margin-top: 10vh;
  grid-column: 1/4;
  text-align: center;
  border-radius: 10px;
}

#siteMenu {
  text-align: left;
  color: #0A3200;
}

.gridBox > img {
  padding: 5%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
}

.pickUpFinder {
  margin-top: 3vh;
  padding: 2em;
  grid-column: 1/4;
  grid-row: 2/3;
  background: #fffbfc;
  border-radius: 10px;
  border: 2px solid white;
  text-align: center;
}

figure:hover figcaption {
  opacity: 1;
  height: 100%;
  width: 100%;
  display: block;
}

figure:hover img {
  opacity: 1;
  display: none;
}

figcaption {
  height: 100%;
  width: 100%;
  display: none;
}

figcaption > p {
  margin-top: 50%;
  margin-bottom: 50%;
  text-align: center;
  color: #0A3200;
  font-size: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}


.modal-content {
  background: rgba(69, 155, 82);
  margin: 10vh auto;
  padding: 20px;
  border: 1px solid black;
  width: 60vw;
  height: 40vh;
}


.close {
  color: black;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.button {
  background: #62bbc1;
  border-radius: 5px;
  color: white;
  padding: 3px 7px 3px 7px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10vh;
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: block;
  color: #393f4d;
  text-align: center;
  padding: 14px 16px;
  text decoration: none;
  background-color: #fffbfc;
  border-radius: 5px;
  font-weight: bold;
}

.menu li a:hover {
  color: #62bbc1;
}

a:hover {
  text-decoration: none;
}
