

/* Div wrapping recycle grid including header */
.gridRecycle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  box-sizing: border-box;
}
/* This header should be the class of the div header within the grid class */
.headerRecycle {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  box-sizing: border-box;
}



.gridRecycle {
  border: 2px solid blue;
  border-radius: 5px;
}

.gridRecycle > div {
  border: 2px solid blue;
  border-radius: 5px;
  padding: 1em;
}
